<div class="container">
    <div class="row">
        <div class="col-12">
            {{outlet}}

            <h2>Commandes</h2>

            <BsButton @onClick={{action "newOrder"}}>Button</BsButton>
            

            <ul>
                {{#each model as |order|}}
                    <li>
                        <h3>{{ order.product }}</h3>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>